backend/backend/__pycache__/
backend/base/__pycache__/
backend/base/migrations/__pycache__/
backend/auctions/migrations/__pycache__/
backend/auctions/__pycache__/
backend/auctions/management/commands/__pycache__/
backend/matrixFactorization/__pycache__/
backend/matrixFactorization/migrations/__pycache__/
mediafiles/images/